---
import { type Lang } from '../i18n/ui';
import Hero from './Hero.astro';
import About from './About.astro';
import Works from './Works.astro';
import Services from './Services.astro';
import Stats from './Stats.astro';
import Contact from './Contact.astro';

interface Props { lang: Lang }
const { lang } = Astro.props;
---

<main>
  <Hero lang={lang} />
  <About lang={lang} />
  <Works lang={lang} />
  <Services lang={lang} />
  <Stats lang={lang} />
  <Contact lang={lang} />
</main>
